.env
/node_modules/

# Database files
/database/

# Claude code
.claude/
CLAUDE.md

cache/

# Logs
/logs/
yarn-error.log

# Temp
/results/
/temp/
tsconfig.tsbuildinfo 

# IDE and Computer files
.idea/
DS_Store

# Other tools
**/.claude/**

# Other
_backlog.md
_workflows.md